<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
              Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
      <!-- Lifetime manager types -->
      <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>

    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="SMART.Core.BusinessLayer.IBusinessLayer,SMART.Core" mapTo="SMART.Core.BusinessLayer.ApplicationManager,SMART.Core"/>
          <type type="SMART.Core.Model.ProjectStructure.ITestCase,SMART.Core" mapTo="SMART.Core.Model.ProjectStructure.TestCase,SMART.Core"/>
          <type type="SMART.Core.BusinessLayer.IStatisticsManager,SMART.Core" mapTo="SMART.Core.BusinessLayer.StatisticsManager,SMART.Core"/>
          <type type="SMART.Core.DataLayer.IProjectReader,SMART.Core" mapTo="SMART.Core.DataLayer.ProjectReader,SMART.Core"/>
          <type type="SMART.Core.DataLayer.IGraphReader,SMART.Core" mapTo="SMART.Core.DataLayer.GraphReader,SMART.Core"/>
          <type type="SMART.Core.DataLayer.ITestcaseReader,SMART.Core" mapTo="SMART.Core.DataLayer.TestcaseReader,SMART.Core"/>
          <type type="SMART.Core.DataLayer.IProjectWriter,SMART.Core" mapTo="SMART.Core.DataLayer.ProjectWriter,SMART.Core"/>
          <type type="SMART.Core.DataLayer.IGraphWriter,SMART.Core" mapTo="SMART.Core.DataLayer.GraphWriter,SMART.Core"/>
          <type type="SMART.Core.DataLayer.ITestcaseWriter,SMART.Core" mapTo="SMART.Core.DataLayer.TestcaseWriter,SMART.Core"/>
          <type type="SMART.Core.IGraphBuilder,SMART.Core" mapTo="SMART.Core.GraphBuilder,SMART.Core"/>
          <type type="SMART.Core.BusinessLayer.ITestcaseExecutor,SMART.Core" mapTo="SMART.Core.BusinessLayer.TestcaseExecutor,SMART.Core"/>
          <type type="System.Random, mscorlib" mapTo="System.Random, mscorlib">
            <typeConfig extensionType="Microsoft.Practices.Unity.Configuration.TypeInjectionElement,
                Microsoft.Practices.Unity.Configuration">
              <constructor/>
            </typeConfig>
          </type>

        </types>
      </container>
    </containers>
  </unity>
</configuration>